body{
    background-color: gray;
}
main{
    display: flex;
    flex-flow: row wrap;
    justify-content:center ;
    width: 600px;
    margin: auto;
}
div{
    background-color: gray;
    border: 1px solid;
    width: 100px;
    height: 50px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
button{
    display: flex;
    align-items: center;
    justify-content: center;
}